<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musicplayerdome">
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 使用权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 屏蔽HOME键需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/music"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/music"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.SongCommentsActivity"></activity>

        <service
            android:name=".service.UpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.NewAlbumActivity" />
        <activity android:name=".ui.activity.HotListActivity" />
        <activity android:name=".ui.activity.TopListActivity" />
        <activity android:name=".ui.activity.PlayOnlineAlbumActivity" />
        <activity android:name=".ui.activity.PlayOnlineListActivity" />
        <activity android:name=".ui.activity.GuidePermissionActivity" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LockActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.example.musicplayer.lockscreen" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.SearchResultActivity" />
        <activity
            android:name=".ui.activity.DownloadActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.activity.SearchLrcActivity" />
        <activity android:name=".ui.activity.ShowSongListActivity" />
        <activity android:name=".ui.activity.LikeMusicActivity" />
        <activity android:name=".ui.activity.RecordMusicActivity" />
        <activity android:name=".ui.activity.MultipleMusicActivity" />
        <activity android:name=".ui.activity.AddLocalMusicActivity" />
        <activity android:name=".ui.activity.SongListActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.LocalSongActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.activity.EditSongListActivity" />
        <activity android:name=".ui.activity.ManageSongListActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.ShowImgActivity" />
        <activity
            android:name=".ui.activity.DetailsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.MainActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MusicDownloadService"
            android:enabled="true"
            android:exported="true" /> <!-- <receiver android:name=".ui.widget.JalMusicWidget"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- <action android:name="main_activity_update_ui" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/jal_music_widget_info" /> -->
        <!-- </receiver> -->
        <receiver android:name=".utils.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.musicplayerdome.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>